
    <main class='parent'>
        <div id='login-credentials' class='container'>
            <a href="/login" class="btn-view">Login</a>
            <a href="/signup" class="btn-view">Sign up</a>

            <form action="/signup" method="POST">
                <input type='text' class='block' name='name' required placeholder="Enter name">
                <input type='text' class='block'  name='username' required placeholder="Enter Email">
                <input type='password' class='block'  name='password' required placeholder="Enter password">
                <input type='password' class='block'  name='re-password' required placeholder="confirm password">

                <button type="submit" name='login' class='btn-view full'>SignUp</button>
            </form>
        </div>
        <div id='first-circle' class='half-circle'></div>
        <div id='second-circle' class='half-circle'></div>
        <div id='third-circle' class='half-circle'></div>
    </main>
