<footer>
        <div class="row">
            <div class="col-md-4">
                <a class="navbar-brand" href="#">STOCKIFY</a>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>About Us</li>
                    <li>Features</li>
                    <li>Our Team</li>
                    <li>Contact</li>
                </ul>
            </div>
            <div class="col-md-4">
                <i class="fas fa-globe"></i>
                <select name="language" id="language">
                    <option value="eng">English</option>
                    <option value="spanish">Spanish</option>
                </select>
            </div>
        </div>

    </footer>